  .login-screen {
    background: #3f3f3f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .login-screen input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .login-screen button {
    background-color: #4CAF50;
    color: #ccc;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 400px;
    border-radius: 5px;
    font-weight: bold;
  }

  .login-screen button:hover {
    opacity: 0.8;
  }

  .login-screen form {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .login-screen img.avatar {
    margin-left: 20px;
  }

  .login-screen .container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .login-screen .container label {
    color: #ccc;
  }

  .login-screen p {
    color: #ff0000;
    font-weight: bold;
    margin-bottom: 15px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    text-align: center;
    background: #ff8585;
    position: absolute;
    
    top: 10px;
    transition: 0.5s;
  }

  .login-screen .showError {
    opacity: 1;
  }

  .login-screen .hideError {
    opacity: 0;
  }

  .login-screen #loadingBlock {
    background: white;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #3f3f3f;
    border-radius: 5px;
    padding: 16px;
    transition: 0.2s;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }

  .login-screen #loadingBlock h1{
    justify-content: center;
    color: #000000;
    padding: 5px;
  }

  .login-screen .showLoading {
    opacity: 1;
  }

  .login-screen .hideLoading {
    opacity: 0;
  }