  .login-main-screen {
      background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  input[type=text], input[type=password] {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 400px;
  }

  button:hover {
    opacity: 0.8;
  }
  
  img.avatar {
    margin-left: 20px;
  }
  
  .container {
    padding: 16px;
  }