  .login-main-screen {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .login-main-screen input[type=text], input[type=password] {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .login-main-screen button {
    background-color: #4CAF50;
    color: #ccc;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 400px;
  }

  .login-main-screen button:hover {
    opacity: 0.8;
  }

  .login-main-screen form {
    border: 1px solid #ccc;
  }

  .login-main-screen label {
    color: #ccc;
  }

  .login-main-screen img.avatar {
    margin-left: 20px;
  }

  .login-main-screen .container {
    padding: 16px;
  }