.dashboard {
    display: flex;
}

.dashboard .bloco {
    background: rgb(167, 167, 167);
    height: 500px;
    margin: 10px;
    border-radius: 5px;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard .bloco:hover {
    background: rgb(131, 131, 131);
}

.dashboard .bloco img{
    height: 40%;
    width: 50%;
    margin-left: 25%;
    margin-top: 30%;
}

.dashboard .bloco h1{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 70px;
}