.main-header {
    width: 100%;
    height: 60px;
    background: #000000;
    font-size: 18px;
    font-weight: bold;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-header .logo {
    height: 50px;
    width: 200px;
    border: 1px solid white;
    margin: 20px;
    border-radius: 2px;
}

.logout-button {
    margin-right: 20px;
    background-color: rgb(167, 167, 167);;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
    width: 80px;
}

.logout-button:hover {
    opacity: 0.8;
  }