.cadastro-main {
    background: #000000;
}

.cadastro-main form {
    border: 1px solid #ccc;
}

.cadastro-main .container {
    padding: 16px;
}

.cadastro-main .text-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    flex-direction: row;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.cadastro-main .text-field-2 {
    width: 15%;
    padding: 12px 20px;
    flex-direction: row;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.cadastro-main .column-2-rows {
    display: flex;
    justify-content: space-between;
}

.cadastro-main .button-div {
    display: flex;
    justify-content: space-between;
}

.cadastro-main .button-div button {
    background-color: #4CAF50;
    color: #fff;
    height: 40px;
    border: none;
    cursor: pointer;
    width: 48%;
}

.cadastro-main .button-div button:hover {
    opacity: 0.8;
}

.cadastro-main label {
    color: #ccc;
    margin-left: 10px;
}
