* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #3f3f3f;
    color: #333333;
}
